In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

%matplotlib inline

# Import data

In [3]:
# income and debt
# linux path
wealth_file = 'data_files/2016_median_wealth_and_debt.csv'
wealth_df = pd.read_csv(wealth_file)

income_file = 'data_files/income_estimates_by_year_and_race.csv'
income_df = pd.read_csv(income_file)

In [4]:
wealth_df.head()

,race,median_value_assets,std_error_value,median_debt,std_error_debt
0,White alone,114700,3874,66600,102000
1,"White alone, not Hispanic",143600,3988,72600,86190
2,Black alone,12920,2414,34500,16920
3,Asian alone,210100,20070,107000,6727
4,Other (residual),20140,5951,42000,3970

In [5]:
income_df.head()

        race  year median_income std_median_income mean_income std_mean_income
0  all_races  2018        63,179               420      90,021             546
1  all_races  2017        62,626               330      89,779             584
2  all_races  2016        61,779               456      87,001             491
3  all_races  2015        59,901               340      84,011             427
4  all_races  2014        56,969               416      80,413             474

# Data transformations

In [7]:
white_income = wealth_df.median_value_assets.iloc[1]

In [8]:
# calculate % income based on white alone, not hispanic

wealth_df['median_perc_income_of_white'] = wealth_df.median_value_assets / white_income

In [9]:
wealth_df

,race,median_value_assets,std_error_value,median_debt,std_error_debt,median_perc_income_of_white
0,White alone,114700,3874,66600,102000,0.798747
1,"White alone, not Hispanic",143600,3988,72600,86190,1.000000
2,Black alone,12920,2414,34500,16920,0.089972
3,Asian alone,210100,20070,107000,6727,1.463092
4,Other (residual),20140,5951,42000,3970,0.140251
5,Hispanic origin (any race),21420,3182,36000,17560,0.149164
6,Not of Hispanic origin,111800,2820,65000,112100,0.778552